@import "tailwindcss";
/* Font Family Select */
* {
  font-family: "Funnel Sans", sans-serif;
}
input {
  outline: none;
}
/* User Info Section Design */
#user-info {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
#user-info .greetings {
  max-width: 90%;
  padding: 20px 10px;
  border-radius: 15px;
}
/* Animation Applies For Greetings */
#user-info .greetings h2 {
  animation: translateX 0.4s linear forwards;
}
#user-info .greetings h1 {
  animation: translateX 0.8s linear forwards;
}
/* Animation Applies For Login Section */
.input-div {
  animation: scale 1s linear forwards;
}
/* Warning Messages */
.name-warning,
.option-warning {
  display: none;
}
/* Animation for Greeting Text */
@keyframes translateX {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0);
  }
}
/* Animation For Login Section */
@keyframes scale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* Animation For Add-Activity Pop-Up */
@keyframes right {
  from {
    right: -400px;
  }
  to {
    right: 0;
  }
}
.add-right-animation {
  animation:  right 0.5s linear forwards;
}
/* Main App Design */
.app {
  display: none;
}
#add-inputs {
  backdrop-filter: blur(30px);
  display: none;
  z-index: 9999;
}
#add-activity-popup {
  transition: 0.6s ease-in;
}
.activity-warning {
  display: none;
}
.duration-warning {
  display: none;
}
/* History Activity Styles */
#history-parent {
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.6s ease-in-out;
}
#history-parent.open {
  max-height: 500px;
  overflow: scroll;
}
.history-div div {
  background-color: blueviolet;
  border-radius: 24px;
  padding: 20px;
  color: white;
  margin: 20px 0;
}
.history-div div h2 {
  font-size: 24px;
  font-weight: bolder;
}
.history-div div h3 {
  font-size: 20px;
  font-weight: bold;
}
.history-div div h4 {
  font-size: 18px;
  font-weight: bold;
}
.history-div div p {
  font-size: 16px;
  font-weight: lighter;
}